Flask==3.0.3
Flask-Cors==4.0.1
pdfplumber==0.11.1
python-dotenv==1.0.1

langchain==0.1.16
langchain-core==0.1.31
langchain-community==0.0.26
langchain-groq==0.1.8

sentence-transformers==2.7.0
faiss-cpu==1.8.0
numpy==1.26.4
gunicorn==22.0.0
